<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{mediaItem.properties.type}!=4&&{mediaItem.link}">
    <f:then>
        <f:link.typolink parameter="{mediaItem.link}">
            <f:render partial="Media/Resource" arguments="{_all}"/>
        </f:link.typolink>
    </f:then>
    <f:else>
        <f:if condition="{data.image_zoom}">
            <f:then>
                <a href="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1)}" class="{f:if(condition: '{linkClass}', then: '{linkClass} ')}js-lightbox" data-gallery="gallery-{data.uid}" target="_blank" title="{f:if(condition: mediaItem.title, then: mediaItem.title, else: mediaItem.description) -> f:format.nl2br() -> f:format.htmlspecialchars()}">
                    <f:render partial="Media/Resource" arguments="{_all}"/>
                </a>
            </f:then>
            <f:else>
                <f:render partial="Media/Resource" arguments="{_all}"/>
            </f:else>
        </f:if>
    </f:else>
</f:if>
</html>
