<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t="http://typo3.org/ns/WEBcoast/Typo3BaseSetup/ViewHelpers" data-namespace-typo3-fluid="true">
<picture>
    <f:if condition="{imageWidthXs}">
        <source media="(max-width: 480px)" srcset="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: imageWidthXs)}, {f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: '{2 * imageWidthXs}')} 2x, {f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: '{3 * imageWidthXs}')} 3x" />
    </f:if>
    <f:if condition="{imageWidthSm}">
        <source media="(max-width: 768px)" srcset="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: imageWidthSm)}, {f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: '{2 * imageWidthSm}')} 2x" />
    </f:if>
    <f:if condition="{imageWidthMd}">
        <source media="(max-width: 1024px)" srcset="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: imageWidthMd)}, {f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: '{2 * imageWidthMd}')} 2x" />
    </f:if>
    <img src="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: imageWidth)}" alt="{mediaItem.alternative}" srcset="{f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: imageWidth)}, {f:uri.image(src: mediaItem.uid, treatIdAsReference: 1, width: '{2 * imageWidth}')} 2x" />
</picture>
</html>