<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t="http://typo3.org/ns/WEBcoast/Typo3BaseSetup/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{page.data.doktype} == 3">
    <f:then>
        <f:if condition="{linkClass}">
            <f:then>
                <f:link.external uri="{page.finalLinkParameter}" class="{linkClass}" target="_blank" title="{linkTitle}">
                    <f:render section="content" arguments="{_all}" />
                </f:link.external>
            </f:then>
            <f:else>
                <f:link.external uri="{page.finalLinkParameter}" target="_blank" title="{linkTitle}">
                    <f:render section="content" arguments="{_all}" />
                </f:link.external>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{linkClass}">
            <f:then>
                <f:link.page pageUid="{page.finalLinkParameter}" class="{linkClass}" title="{linkTitle}" additionalParams="{additionalParameters}">
                    <f:render section="content" arguments="{_all}" />
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{page.finalLinkParameter}" title="{linkTitle}" additionalParams="{additionalParameters}">
                    <f:render section="content" arguments="{_all}" />
                </f:link.page>
            </f:else>
        </f:if>
    </f:else>
</f:if>

<f:section name="content">
    <f:if condition="{content -> t:util.trim()}">
        <f:then>
            {content -> f:format.raw()}
        </f:then>
        <f:else>
            {page.title}
        </f:else>
    </f:if>
</f:section>
</html>
