<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t="http://typo3.org/ns/WEBcoast/Typo3BaseSetup/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="gallery">
    <f:for each="{gallery.rows}" as="row">
        <div class="gallery__row">
            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">
                    <div class="gallery__column">
                        <f:alias map="{mediaItem: column.media, imageWidth: column.dimensions.width, imageHeight: column.dimensions.height}">
                            <f:render partial="Media/Item" arguments="{_all}"/>
                        </f:alias>
                    </div>
                </f:if>
            </f:for>
        </div>
    </f:for>
</div>

<f:section name="height">
    <f:if condition="{data.imagewidth} > 0 && {data.imageheight} > 0">
        {imageWidth / data.imagewidth * data.imageheight}
    </f:if>
</f:section>

<f:section name="modifier">
    <f:if condition="{data.imagewidth} > 0&&{data.imageheight} > 0">
        <f:then>c</f:then>
        <f:else>m</f:else>
    </f:if>
</f:section>
</html>
