<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t="http://typo3.org/ns/WEBcoast/Typo3BaseSetup/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{files -> f:count()} > 1">
    <f:then>
        <div class="gallery">
            <f:for each="{gallery.rows}" as="row">
                <div class="gallery__row">
                    <f:for each="{row.columns}" as="column">
                        <f:if condition="{column.media}">
                            <div class="gallery__column">
                                <f:alias map="{mediaItem: column.media, imageWidth: column.dimensions.width, imageHeight: column.dimensions.height}">
                                    <f:render partial="Media/Item" arguments="{_all}"/>
                                </f:alias>
                            </div>
                        </f:if>
                    </f:for>
                </div>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <f:for each="{gallery.rows}" as="row">
            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">
                    <f:alias map="{mediaItem: column.media, imageWidth: column.dimensions.width, imageHeight: column.dimensions.height}">
                        <f:render partial="Media/Item" arguments="{_all}"/>
                    </f:alias>
                </f:if>
            </f:for>
        </f:for>
    </f:else>
</f:if>
</html>
