<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<nav class="sitemap">
  <f:render section="list" arguments="{pages: menu}" />
</nav>

<f:section name="list">
  <ul class="sitemap__list">
    <f:for each="{pages}" as="page">
      <li class="sitemap__item">
        <f:render partial="Menu/Link" arguments="{page: page, linkClass: 'sitemap__link'}" />
        <f:if condition="{page.children -> f:count()} > 0">
          <f:render section="list" arguments="{pages: page.children}" />
        </f:if>
      </li>
    </f:for>
  </ul>
</f:section>
</html>
