<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t="http://typo3.org/ns/WEBcoast/Typo3BaseSetup/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:switch expression="{data.imageorient}">
        <f:case value="0">
            <div class="textmedia textmedia--top">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
            </div>
        </f:case>
        <f:case value="1">
            <div class="textmedia textmedia--top-right">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
            </div>
        </f:case>
        <f:case value="2">
            <div class="textmedia textmedia--top-left">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
            </div>
        </f:case>
        <f:case value="8">
            <div class="textmedia textmedia--bottom">
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
            </div>
        </f:case>
        <f:case value="9">
            <div class="textmedia textmedia--bottom-right">
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
            </div>
        </f:case>
        <f:case value="10">
            <div class="textmedia textmedia--bottom-left">
                <div class="textmedia__text">
                    <f:render partial="Text" arguments="{_all}" />
                </div>
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth}\', defaultValue: \'{imageWidth}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
            </div>
        </f:case>
        <f:case value="17">
            <f:if condition="{data.header_position} == 'above'}">
                <f:render partial="Header" arguments="{_all}" />
            </f:if>
            <div class="textmedia textmedia--right textmedia--floating">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth / 2}\', defaultValue: \'{imageWidth / 2}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:if condition="{data.header_position} == 'above'">
                        <f:then>
                            <f:render partial="Text" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Header" arguments="{_all}" />
                            <f:render partial="Text" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:case>
        <f:case value="18">
            <f:if condition="{data.header_position} == 'above'}">
                <f:render partial="Header" arguments="{_all}" />
            </f:if>
            <div class="textmedia textmedia--left textmedia--floating">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth / 2}\', defaultValue: \'{imageWidth / 2}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:if condition="{data.header_position} == 'above'">
                        <f:then>
                            <f:render partial="Text" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Header" arguments="{_all}" />
                            <f:render partial="Text" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:case>
        <f:case value="25">
            <f:if condition="{data.header_position} == 'above'}">
                <f:render partial="Header" arguments="{_all}" />
            </f:if>
            <div class="textmedia textmedia--right">
                <div class="textmedia__text">
                    <f:if condition="{data.header_position} == 'above'">
                        <f:then>
                            <f:render partial="Text" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Header" arguments="{_all}" />
                            <f:render partial="Text" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </div>
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth / 2}\', defaultValue: \'{imageWidth / 2}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
            </div>
        </f:case>
        <f:case value="26">
            <f:if condition="{data.header_position} == 'above'}">
                <f:render partial="Header" arguments="{_all}" />
            </f:if>
            <div class="textmedia textmedia--left">
                <div class="textmedia__media">
                    <t:alias map="{imageWidth: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidth / 2}\', defaultValue: \'{imageWidth / 2}\')}', imageWidthMd: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthMd / 2}\', defaultValue: \'{imageWidthMd / 2}\')}', imageWidthSm: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthSm / 2}\', defaultValue: \'{imageWidthSm / 2}\')}', imageWidthXs: '{t:math.forceIntInRange(value: \'{data.imagewidth}\', min: 1, max: \'{imageWidthXs / 2}\', defaultValue: \'{imageWidthXs / 2}\')}'}">
                        <f:render section="Media" arguments="{_all}" />
                    </t:alias>
                </div>
                <div class="textmedia__text">
                    <f:if condition="{data.header_position} == 'above'">
                        <f:then>
                            <f:render partial="Text" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Header" arguments="{_all}" />
                            <f:render partial="Text" arguments="{_all}" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:case>
    </f:switch>
</f:section>

<f:section name="Media">
    <f:render partial="Gallery" arguments="{_all}" />
</f:section>
</html>
